<template lang="pug">
  button.btn(@click="path ? $router.push(path) : clickEmit()" :style="getStyle()" :class="btnClass")
    .focus(:style="{backgroundColor: focusColor}" :class="round ? 'round' : ''")
    .inner
      .btn-side(v-if="icon")
        vue-material-icon( :name="icon" :size="18")
      .btn-main(v-if="label") {{label}}
      .btn-side(v-if="iconRight")
        vue-material-icon( :name="iconRight" :size="18")
    slot
</template>

<script>
export default {
  name: 'Btn',
  props: {
    label: String,
    iconRight: {
      type: String,
      default: null
    },
    icon: {
      type: String,
      default: null
    },
    color: {
      type: String,
      default: '#666'
    },
    textColor: {
      type: String,
      default: '#333'
    },
    path: {
      type: String,
      default: null
    },
    size: {
      type: String,
      default: 'md'
    },
    flat: {
      type: Boolean,
      default: false
    },
    round: {
      type: Boolean,
      default: false
    },
    outline: {
      type: Boolean,
      default: false
    },
    exact: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    clickEmit () {
      this.$emit('click')
    },
    // get style based on props
    getStyle () {
      return {
        backgroundColor: this.backgroundColor,
        color: this.textColorComp,
        borderColor: this.borderColor,
        fontSize: this.size === 'md' ? '14px' : this.size === 'lg' ? '18px' : '14px',
        minHeight: this.size === 'md' ? '2.572em' : this.size === 'lg' ? '2.672em' : '2.572em'
      }
    }
  },
  computed: {
    // get clases based on props
    btnClass () {
      let classes = []
      if (this.exact && this.$route.path === this.path) {
        classes.push('outline')
      } else {
        this.flat ? classes.push('no-shadow') : this.outline ? classes.push('outline') : null
      }
      if (this.round) {
        classes.push('round')
      }
      return classes.join(' ')
    },
    // If flat or outline, set bg unset
    backgroundColor () {
      if (!this.flat && !this.outline) {
        return this.color ? this.color : '#fff'
      } else {
        return 'unset'
      }
    },
    // If flat or outline, set props color
    focusColor () {
      if (this.flat || this.outline) {
        return this.color
      } else {
        return this.color ? '#fff' : '#999'
      }
    },
    // If outline or route exatc, set border color
    borderColor () {
      if (this.outline || (this.exact && this.$route.path === this.path)) {
        return this.color
      }
      return ''
    },
    // If flat or outline, set color prop to text
    textColorComp () {
      if (this.flat || this.outline) {
        return this.color
      } else {
        return this.textColor
      }
    }
  }
}
</script>

<style scoped lang="scss">
.btn{ 
  border-radius: 3px;
  padding: 4px 16px;
  border: none;
  text-decoration: none;
  outline: 0;
  vertical-align: middle;
  display: inline-block;
  -webkit-transition: .3s cubic-bezier(.25,.8,.5,1);
  transition: .3s cubic-bezier(.25,.8,.5,1);
  cursor: pointer;
  color: inherit;
  text-transform: unset;
  position: relative;
  -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
  box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
  letter-spacing: .05em;
  font-weight: 400;
  border: 1px solid rgba(0,0,0,0);
}
.btn:focus {
  outline: none;
}
.inner{
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.material-icon{
  margin-right: 16px;
}
.focus {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  border-radius: inherit;
  opacity: 0;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  -ms-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.btn:hover .focus{
  opacity: .15;
}
.btn.no-shadow{
  box-shadow: none;
}
.btn.outline{
  box-shadow: none;
  border: 1px solid rgba(0,0,0,0.8);
}
.btn-side{
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}
.btn-main{
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  min-width: 0;
  text-align: center;
  margin: 0 6px;
}
.focus.round{
  border-radius: 100%;
}
.btn.round{
  width: 36px;
  height: 36px;
  border-radius: 100%;
  padding: 8px;
}
</style>
